@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  grid-area: header;
}
.profile {
  grid-area: profile;
}
.bio {
  grid-area: bio;
}
.experience {
  grid-area: experience;
}
.skills {
  grid-area: skills;
}
.cv {
  grid-area: cv;
}
.years {
  grid-area: years;
}
.projects {
  grid-area: projects;
}
.contacts {
  grid-area: contacts;
}
.swiper {
  grid-area: swiper;
}
.showcases {
  grid-area: showcases;
}
.template {
  grid-area: template;
}
.first {
  grid-area: first;
}
.second {
  grid-area: second;
}

.grid-container-1 {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 160px minmax(292px, max-content) 612px 336px 160px 608px 336px 140px 380px 56px;
  grid-template-areas:
    'header header'
    'profile profile'
    'bio bio'
    'experience experience'
    'skills skills'
    'cv years'
    'projects projects'
    'swiper swiper'
    'contacts contacts'
    'showcases showcases'
    'template template';
}

/* TODO: Do i need only here? */
@media only screen and (min-width: 768px) {
  .grid-container-1 {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto 166px 292px 166px 192px 142px 395px 56px 720px;
    gap: 20px;
    grid-template-areas:
      'header header header'
      'profile profile experience'
      'bio bio experience'
      'cv years experience'
      'skills skills skills'
      'contacts contacts projects'
      'showcases showcases projects'
      'template template projects'
      'swiper swiper swiper';
  }
}

@media only screen and (min-width: 1440px) {
  .grid-container-1 {
    display: grid;
    grid-template-columns: 404px 192px 192px 404px;
    grid-template-rows: auto 192px 192px 80px 238px 46px 150px 56px;
    grid-template-areas:
      'header header header header'
      'profile skills skills skills'
      'bio cv years projects'
      'bio swiper swiper projects'
      'experience swiper swiper projects'
      'experience swiper swiper showcases'
      'experience contacts contacts showcases'
      'experience template template showcases';
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
