.board {
  position: relative;
  width: 304px;
  height: 304px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 66px);
  grid-template-rows: repeat(4, 66px);
  background: var(--primary-background);
  padding: 8px;
  border-radius: 24px;
  gap: 8px;
}

.cell {
  border-radius: calc(var(--pixel-size) * 2);
  background: var(--cell-background);
  box-shadow: var(--cell-shadow);
}

.tiles {
  margin: 8px;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 768px) {
  .board {
    width: 319px;
    height: 319px;
  }

  .grid {
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(4, 70px);
  }
}

@media (min-width: 1440px) {
  .board {
    width: 260px;
    height: 260px;
  }

  .grid {
    grid-template-columns: repeat(4, 55px);
    grid-template-rows: repeat(4, 55px);
  }
}
