.board {
  position: relative;
  width: 304px;
  height: 304px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 66px);
  grid-template-rows: repeat(4, 66px);
  background: var(--primary-background);
  padding: 8px;
  border-radius: 24px;
  gap: 8px;
}

.cell {
  /* width: 66px;
  height: 66px; */
  /* margin: 4px; */
  border-radius: calc(var(--pixel-size) * 2);
  background: var(--cell-background);
  box-shadow: -5px -5px 20px 0px rgba(255, 255, 255, 0.53),
    12px 13px 12px -6px rgba(166, 180, 200, 0.5);
}

.tiles {
  margin: 8px;
  position: absolute;
  z-index: 2;
  /* margin: calc(var(--pixel-size) * 0.5); */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 512px) {
  .board {
    width: calc(var(--pixel-size) * 12.5 * 4 + var(--pixel-size) * 10);
  }

  .grid {
    border: calc(var(--pixel-size) * 1) solid var(--secondary-background);
  }

  .cell {
    width: calc(var(--pixel-size) * 12.5);
    height: calc(var(--pixel-size) * 12.5);
    margin: calc(var(--pixel-size) * 1);
  }

  .tiles {
    margin: calc(var(--pixel-size) * 1);
  }
}
