.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  border-radius: 16px;
  background: var(--tile-background);
  color: var(--secondary-text-color);
  font-size: 26px;
  line-height: 1.15;
  font-weight: 500;
  transition-property: left, top, transform;
  transition-duration: 200ms, 200ms, 100ms;
}

@media (min-width: 768px) {
  .tile {
    width: 70px;
    height: 70px;
    font-size: 26px;
    line-height: 1.27;
  }
}

@media (min-width: 1440px) {
  .tile {
    width: 55px;
    height: 55px;
    font-size: 22px;
    line-height: 1.27;
  }
}

/* -=-=-=- START OF TEXT COLOR -=-=-=- */
.tile2,
.tile4 {
  color: var(--primary-text-color);
}
/* -=-=-=-= END OF TEXT COLOR =-=-=-=- */

.tile4 {
  background: linear-gradient(134deg, #aebcfd 4.98%, #9eadf2 94.88%);
}

.tile8 {
  background: linear-gradient(134deg, #94a6f9 4.98%, #778ae6 94.88%);
}

.tile16 {
  background: linear-gradient(134deg, #677eeb 4.98%, #6074d7 94.88%);
}

.tile32 {
  background: linear-gradient(134deg, #4158c4 4.98%, #3148b6 94.88%);
}

.tile64 {
  background: linear-gradient(134deg, #4e3bc1 4.98%, #4533b4 94.88%);
}

.tile128 {
  background: linear-gradient(134deg, #8d5cdc 4.98%, #834fd5 94.88%);
}

.tile256 {
  background: linear-gradient(134deg, #813daa 4.98%, #7a3caa 94.88%);
}

.tile512 {
  background: linear-gradient(134deg, #a44ac4 4.98%, #9d30c2 94.88%);
}

.tile1024 {
  background: #edc53f;
}

.tile2048,
.tile4096,
.tile8192 {
  background: #edc22e;
}
